body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

#game-container {
    text-align: center;
}

#game-canvas {
    display: none;
    border: 2px solid #fff;
}

#end-screen {
    display: none;
    text-align: center;
    color: red;
    font-size: 2em;
}

#end-screen p {
    color: #fff;
    background-color: #000;
    padding: 20px;
    font-family: 'Cursive';
}
